body{
   display:flex; /* flex helps in using different layouts for text like below*/
    align-items: center;
    justify-content: center;

    height: 100vh; /*vh is viewport height [height of visible window]*/
    margin:0 ;
     /* Defines the empty space in between element and surrounding elements
    Here it wiil be applied to all four edges. eg.margin:10px 30px {will be for top and bottom only}*/
    font-family: 'VT323', monospace;


}

body,.snake
{
    background-color: #414141;
} /*Both elements in body and snake clas will, have this colour*/

#game-board{
    border-radius: 100px;
    display:grid;
    grid-template-columns: repeat(20,20px); /* Only way to do repeated columns,otherwise write manually*/
    grid-template-rows: repeat(20,20px);
    margin: 5px;
}


.game-border-1{
border: #594f43 solid 10px;
border-radius:30px;
box-shadow: inset 0 0 0 10px  #594f43;
}

.game-border-2{
border: #abb78a solid 8px;
border-radius:26px;
box-shadow: inset 0 0 0 10px  #abb78a;
}



.game-border-3{
border: #8b966c solid 30px;
border-radius:20px;
box-shadow: inset 0 0 0 5px  #8b966c;
}

#instruction-text{
    position :absolute; /* Will be relative to normal screen*/
    top:65%;
    color:#333;
    width:300px;
    text-align:center;
    text-transform:capitalize;
    padding:30px;
    margin:0px;
}

.scores{
    display:flex;
    justify-content:space-between;
        
}

#score{
    color:#abb78a;
}

#score, #highScore{
    font-size:40px;
    font-weight: bolder;
    margin:10px 0;
}

/* 1. Inline styles have the highest priority eg.<div style="color:red"> </div> [Css applied directyly in HTML only
2. ID selector
3. Class selector
4. Type(element) selector:  div{color:black}  [ Applied in css ]
5. IF BOTH ID AND CLASS COMES OF AN ELEMENT, THEN FIRST COME FIRST SERVE */


#highScore{
    color:#d8ddca;
    display:none;
}

.game-border-3 , #logo{
background-color: #c4cfa3;

}

.snake{
    border:1px #5a5a5a dotted;
}

.food{
    background-color: #dedede;
    border:#999 5px solid;
}

#logo{
    position:absolute;
}